/* nav */
.brand-logo {
    transition: 1s ease;
}

.brand-logo:hover {
    font-size: 40px;
}

.topnav{
    /* border: 2px solid black; */
    width: 70%;
}

/* product */

.product .btn{
    margin-top: 5%;
}
.row-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    /* border: 2px solid black; */
    width: 100%;
}

.card-product {

    width: 200px;
    box-shadow: none;
}

.container {
    width: 100%;
}


/* footer */
.text-lighten-3 {
    margin-right: 4%;
}


/* home */
/* section1 */
.home-section1 {
    margin: 0;
    background-color: #00acc1;
}

.home .text-judul {
    margin-bottom: 15%;
    margin-left: 10%;
}

.home .text-isi {
    margin-bottom: 13%;
    margin-left: 10%;
}

@media only screen and (max-width : 767px) {
    .text-judul {
        margin: 0;
        margin-bottom: 3%;
    }

    .text-isi {
        margin: 0;
    }
}

/* section2 */


.row-home {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.judul-section2-home {
    margin-top: 5%;
}

/* section3 */
.home-section3 {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin-bottom: 5%;
}

.signature {
    width: 40%;
    justify-content: center;
}

.home-section3 .card {
    border: none;
    box-shadow: none;
    margin-left: 30%;
}

.home-section3-harga {
    margin-right: 8%;
}

.home-section3 img:hover {
    background-color: black;
}

/* about */
.about{
    padding: 2em;
}
.sneakers{
    width: 80%;
}

.section1-about{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 3%;
    border-radius: 15px;
}

.section1-about .text{
    margin-top: 5%;
    padding: 3em;
}

.location{
    width: 80%;
    
}

.about-section2{
    /* border : 2px solid black; */
}

.about-section2 .card{
    box-shadow: none;
    border: none;
}

.about-section2 .text{
    position: relative;
    transform: translate(-0%,-300%);
}


@media only screen and (max-width : 768px) {
    .about-section2 .text{
        transform: translate(0%,-200%);
    }
}

@media only screen and (max-width : 414px){
    .about-section2 .text{
        transform: translate(0%,-150%);
    }
    span{
        font-size: 10px;
    }
    h3{
        font-size: 20px;
    }
}
