/* nav */
.brand-logo {
    transition: 1s ease;
    margin-left: 2%;
}

.brand-logo:hover {
    font-size: 40px;
}

.topnav {
    width: 70%;
}

@media only screen and (max-width : 992px) {
    .sidenav .right {
        float: left !important;
        width: 100%;
    }
}

/* footer */
.text-lighten-3 {
    margin-right: 4%;
}

/* product */

.product .btn {
    margin-top: 5%;
}

.row-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em;
    width: 100%;
}

.card-product {
    width: 200px;
    box-shadow: none;

}

.product .btn {
    padding: 0 3em 0 3em;
}



@media screen and (max-width : 500px) {
    .row-product {
        padding: 1em;
    }

    .card-product {
        width: 140px;
    }
}


/* home */
.home {}

.home-section1 {
    margin: 0;
    background-color: #00acc1;
}

.home .text-judul {
    margin-bottom: 15%;
    margin-left: 10%;
}

.home .text-isi {
    margin-bottom: 13%;
    margin-left: 10%;
}

@media only screen and (max-width : 767px) {
    .home .text-judul {
        margin: 0;
        margin-bottom: 3%;
    }

    .home .text-isi {
        margin: 0;
    }
}

.row-home {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.judul-section2-home {
    margin-top: 5%;
}

.home-section2 {
    border-bottom: 2px solid black;
}

.home-section3 {
    padding: 1em;
    margin-top: 5%;
}

.home-section3 .center {
    padding: 1em;
    border-radius: 15px;
    margin-bottom: 5%;

}


.signature {
    width: 60%;

}

.btn-signature {
    margin-top: 2%;
    margin-right: 5%;
    width: 30%;
}

.home-section3 .card {
    border: none;
    box-shadow: none;
    margin-left: 20%;
}

.home-section3-harga {
    margin-right: 5%;
}

.home-section3 img:hover {
    background-color: black;
}

@media screen and (max-width : 666px) {
    .btn-signature {
        width: 100%;
    }
}

/* about */
.about {
    padding: 2em;
}

.sneakers {
    width: 80%;
}

.section1-about {
    margin-top: 3%;
    border-radius: 15px;
}

.section1-about .text {
    margin-top: 5%;
    padding: 3em;
}

.about-section2 .card .card-image img {
    width: 30%;
}

.bulan {
    margin-top: 21%;
}

.teleskop {
    margin-top: 4%;
}



/* login */
.login {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
    width: 80%;
}

.people-login {
    width: 80%;
    border-radius: 30%;
    padding: 3em 0 3em 0;
}

.login .s12 {
    border-radius: 15px;
}

.login label,
.validate {
    color: #00acc1 cyan darken;
}

.login .form-group {
    margin-top: 15%;
    padding: 2em;
}

.login h4 {
    margin-top: 15%;
    margin-bottom: 5%;
}


/* cart */

.cart {
    margin-top: 3%;
    padding: 2em;
}

.cart .card {
    width: 250px;
}

.check {
    padding: 2em !important;
    border: 3px solid #26a69a;
    border-radius: 25px;
}

.check h6,
.check a {
    margin-top: 5%;
}

.check a {
    border-radius: 5px;
    font-weight: bold;
}

.check h6 {
    border-bottom: 2px solid #26a69a;
    padding-bottom: 10px;
}